{% extends '::base.html.twig' %}

{% block body %}

    <h1>{% trans %} Привет {% endtrans %} {{ user.name }}  </h1>

    <a href="{{ path('app_base_setlocale', {'_locale' : 'en'}) }}" >
        EN
    </a>
    <a href="{{ path('app_base_setlocale', {'_locale' : 'ru'}) }}" >
        RU
    </a>

    <table class="table table-striped">
        <tr>
            <th>{% trans %} Улетные Фразы {% endtrans %}</th>
        </tr>
        {% for locale in locales %}
        <tr class="active">
            <th>{{ locale }}</th>
            <td class="info">
                {{ phrase.translate(locale).description }}
            </td>
        </tr>
        {% endfor %}
    </table>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}

{% endblock %}

{% block title %}

{% endblock %}

