{% extends '::base.html.twig' %}


{% block title %}

{% endblock %}

{% block body %}

    {% if is_granted('ROLE_USER') %}
    <h1>{% trans %} Привет {% endtrans %} {{ user.name }}</h1>
    {% else %}
        <div class="container">
            <div class="row">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#">{% trans %}Главная страница{% endtrans %}</a></li>
                    <li><a href="{{ path('fos_user_registration_register') }}">{% trans %}Регистрация{% endtrans %}</a></li>
                    <li><a href="{{ path('fos_user_security_login') }}">{% trans %}Авторизация{% endtrans %}</a></li>
                </ul>
            </div>
        </div>
    <h1> {% trans %} Привет Аноним {% endtrans %}</h1>
    {% endif %}

    <a href="{{ path('app_base_setlocale', {'_locale' : 'en'}) }}" >
        EN
    </a>
    <a href="{{ path('app_base_setlocale', {'_locale' : 'ru'}) }}" >
        RU
    </a>

    <table class="table table-striped">
        <caption>{% trans %}Улетные Фразы{% endtrans %}</caption>
            {% for phrase in phrases %}
                <tr>
                    <td class="info">
                        <a href="{{ path('app_base_details' , {'id' : phrase.id} ) }}">{{ phrase.translate('ru').description }}</a>
                    </td>
                </tr>
            {% endfor %}
    </table>

    {% if is_granted('ROLE_USER') %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    {% endif %}

{% endblock %}
